- if current_user and current_user.admin?
  = render partial: "mobile_admin_edit"
- elsif current_user and current_user.mobile_greeter?
  = render partial: "mobile_greeter_edit"
- elsif current_user and current_user.mobile_inspector?
  = render partial: "mobile_inspector_edit"
- elsif current_user
  = render partial: "mobile_admin_edit"