%p
  #{@user.first_name}, welcome to Scrap Yard Dog!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirm_email_user_url(@user.confirm_token)

%p Here is a link to download your Instruction Guide:
%p= link_to 'Instruction Guide', "https://tranact.com/wp-content/uploads/2016/07/Dragon-Dog-Free-Instruction-Guide.pdf"
