%p
  Hi #{@user.first_name},
%p We got a request to reset your Scrap Yard Dog password.
%p= link_to 'Reset Password', edit_password_reset_url(@user.password_reset_token)
%p If you ignore this message, your password won't be changed.