- unless @container_id.blank?
  $('.task_containers').prepend('<div class="row"><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">#{@container_id}</div></div>')

alert("#{@response}");
-#
  $('#tickets').append('#{j render "ticket"}');
  $('#more_tickets_spinner').hide();
  - if @tickets.next_page
    $('a.load-more-tickets').show();
    $('a.load-more-tickets').attr('href', '#{tickets_path page: @tickets.next_page, q: params[:q], status: params[:status]}');
  - else
    $(window).off('scroll');
    $('a.load-more-tickets').attr('href', '#');
    $('a.reload-tickets').show();
