.navbar.navbar-default.navbar-fixed-bottom{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %a{href: root_path}
            %i.fa.fa-home.fa-lg
            = "Home" unless mobile_device?
        .col-xs-4.col-sm-4
          %a{href: "#upload_form", "data-toggle" => "modal", :alt => "new_image_file_form"}
            %i.fa.fa-camera.fa-lg
            = "Pictures" unless mobile_device?
        .col-xs-4.col-sm-4
          %a{href: create_ticket_customer_path(@customer['Id']), class: "customer_button", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i> Ticket"} }
            %i.fa.fa-plus.fa-lg
            Ticket

= render partial: "cust_pic_files/upload_modal"
