.navbar.navbar-default.navbar-fixed-bottom{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %a{href: root_path}
            %i.fa.fa-home.fa-lg
            = "Home" unless mobile_device?
        .col-xs-4.col-sm-4
          
        .col-xs-4.col-sm-4
          