.navbar.navbar-inverse.navbar-fixed-bottom{ role: 'navigation', style: 'margin-bottom: 30px;'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
        .col-xs-4.col-sm-4
          POWERED BY SCRAP DRAGON
        .col-xs-4.col-sm-4
          