.navbar.navbar-default.navbar-fixed-bottom{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %a{href: "#", "data-toggle" => "modal", :alt => "vehicle"}
            %i.fa.fa-car.fa-lg
            = "Vehicle" unless mobile_device?
          -#
            %a{href: root_path}
              %i.fa.fa-home.fa-lg
              = "Home" unless mobile_device?
        .col-xs-4.col-sm-4
          -#
            - unless current_user.customer?
              - if (params[:controller] == "images") and (params[:action]=='index')
                %a{href: advanced_search_images_path}
                  Advanced Search
        .col-xs-4.col-sm-4
          