=# render partial: "shared/navbars/trips_navbar", locals: {title: "Trips"}

- @title="Containers"
.jumbotron{style: 'background-color: #FFFFFF;'}
  .container

=# render partial: "shared/pack_contracts_footer_navbar", locals: {title: "Contracts"}
