- if not logged_in?
  .jumbotron
    .container
      %h3.text-center SYD SDX
      %p.text-center Scrap Yard Dog with Scrap Dragon Xtreme
      %div.text-center
        %p
          %a{href: signup_path, class: 'btn btn-lg btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sign Up"}}
            %i.fa.fa-lock
            Sign Up
          %a{href: login_path, class: 'btn btn-lg btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Log In"}}
            %i.fa.fa-lock
            Log In
- else
  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      - unless current_yard_id.blank?
        %div.row
          %p
            .col-xs-6
              %a.btn.btn-primary.btn-lg.btn-block{:href => tickets_path(status: 2),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Held"}} 
                %i.fa.fa-folder-open-o.fa-lg
                Held
          %p
            .col-xs-6
              %a.btn.btn-primary.btn-lg.btn-block{:href => tickets_path(status: 1),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Closed"}} 
                %i.fa.fa-folder.fa-lg
                Closed
        %div.row
          %p
            .col-xs-6
              %a.btn.btn-default.btn-lg.btn-block{:href => tickets_path(status: 3),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Paid"}} 
                %i.fa.fa-dollar.fa-lg
                Paid
          %p
            .col-xs-6
              -#
                %a.btn.btn-default.btn-lg.btn-block{:href => images_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pictures"}} 
                  %i.fa.fa-image.fa-lg
                  Pictures
              %a.btn.btn-default.btn-lg.btn-block{:href => create_ticket_customer_path(empty_guid),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Quick Ticket"}} 
                %i.fa.fa-ticket.fa-lg
                Quick Ticket
        %div.row
          %p
            .col-xs-6
              %a.btn.btn-default.btn-lg.btn-block{:href => customers_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Customers"}} 
                %i.fa.fa-users.fa-lg
                Customers
            .col-xs-6
              %a.btn.btn-default.btn-lg.btn-block{:href => commodities_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Commodities"}} 
                %i.fa.fa-list.fa-lg
                Commodities
      - else
        .navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
          .container-fluid
            .navbar-header
              %div{class: 'navbar-brand navbar-center'}
                .col-xs-4.col-sm-4
                .col-xs-4.col-sm-4
                .col-xs-4.col-sm-4
        %p Select a Yard
        - Yard.all(current_user.token).each do |yard|
          %div.row
            .col-xs-12.col-sm-12.col-md-12
              %div.panel.panel-primary
                %div.list_group
                  %a{href: yard_path(yard['Id']), class: "list-group-item yard_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{yard['Name']}"}}
                    = yard["Name"]
                    .pull-right
                      %i.fa.fa-chevron-right.fa-lg