- if not logged_in?
  .jumbotron{style: 'background-color: white;'}
    .container
      %h3.text-center SYD SDX
      %p.text-center Scrap Yard Dog with Scrap Dragon Xtreme
      %div.text-center
        %p
          %a{href: signup_path, class: 'btn btn-lg btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sign Up"}}
            %i.fa.fa-lock
            Sign Up
          %a{href: login_path, class: 'btn btn-lg btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Log In"}}
            %i.fa.fa-lock
            Log In
- else
  .jumbotron{style: 'background-color: white;'}
    .container
      %p= image_tag('sd_portal_transparent_small.png', alt: 'sd_portal_transparent_small.png', class: 'img-responsive center-block')
      %div.row
        -#
          %p
            .col-xs-4
              %a.btn.btn-default.btn-lg.btn-block{:href => tickets_path(status: 1),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
                %i.fa.fa-folder.fa-lg
                Closed
          %p
            .col-xs-4
              %a.btn.btn-default.btn-lg.btn-block{:href => tickets_path(status: 3),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
                %i.fa.fa-dollar.fa-lg
                Paid
        %div.text-center
          %a.btn.btn-default.btn-lg{:href => reports_path('report[type]' => 'customer_summary'),  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Management Reports"}} 
            Management Reports
        -#
          %p
            .col-xs-4
              %a.btn.btn-default.btn-lg.btn-block{:href => images_path,  class: 'welcome_button', :role => "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
                %i.fa.fa-image.fa-lg
                Pictures
      -#
        %div.text-center
          %p
            %a{href: images_path, class: 'btn btn-lg btn-primary welcome_button',  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pictures"}}
              Pictures
            %a{href: tickets_path(status: 3), class: 'btn btn-lg btn-primary welcome_button',  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Tickets"}}
              Tickets