%p
  %a{:href => trips_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Trips"}} 
    %i.fa.fa-map-marker
    = "Trips"
%p
  %a{:href => search_trips_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Search"}} 
    %i.fa.fa-search
    Search