%p
  %a{:href => trips_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Driver Trips"}} 
    %i.glyphicon.glyphicon-user
    Driver Trips
%p
  %a{:href => service_requests_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Service Requests"}} 
    %i.glyphicon.glyphicon-thumbs-up
    Service Requests