%p
  %a{:href => trips_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Driver Trips"}} 
    %i.fa.fa-map-marker
    = "#{current_user.first_name} Trips"
%p
  %a{:href => search_trips_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Trips Search"}} 
    %i.fa.fa-search
    Trips Search