%p
  %a{:href => trips_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Trips"}} 
    %i.glyphicon.glyphicon-user
    Trips
%p
  %a{:href => new_service_request_path, class: "welcome_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Service Request"}} 
    %i.glyphicon.glyphicon-thumbs-up
    Service Request