- if current_user.blank?
  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      %p.text-center SYD SDX
      %div.text-center
        %p
          %a{href: '#', class: 'btn btn-lg btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Log In"}}
            %i.fa.fa-lock
            Log In
- else
  .jumbotron{style: 'background-color: #FFFFFF;'}
    .container
      %p
        Username:
        = current_user.username
      %p 
        Yards
        %br
        - Yard.all(current_token).each do |yard|
          %p= link_to yard["Name"], yard_path(yard['Id'])