- if not logged_in?
  .jumbotron{style: 'background-color: white;'}
    .container
      = image_tag('dragon_dog_logo_529x214.png', alt: 'dragon_dog_logo_529x214.png', class: 'img-responsive center-block')
      %p.text-center Scrap Yard Dog with Scrap Dragon Xtreme
      %div.text-center
        %p
          %a{href: signup_path, class: 'btn btn-lg btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sign Up"}}
            %i.fa.fa-lock
            Sign Up
          %a{href: login_path, class: 'btn btn-lg btn-default', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Log In"}}
            %i.fa.fa-lock
            Log In
- else
  - if current_user.admin?
    = render 'admin_start'
  - elsif current_user.basic?
    = render 'basic_start'
  - elsif current_user.customer?
    = render 'customer_start'