= render partial: "shared/navbars/no_user_navbar", locals: {title: "Terms of Service"}
- @title="Terms of Service"

.container
  
  %h3 TERMS OF SERVICE AGREEMENT FOR TRANACT SCRAP YARD DOG SERVICE

  %p This TERMS OF SERVICE AGREEMENT (“Agreement”) is made between TRANACT and any person or entity who completes the registration process (“YOU” or “YOUR”).  YOU and TRANACT are sometimes referred to individually as a “party” and collectively as the “parties.” 

  %h3 BY CLICKING THE ACCEPTANCE BUTTON OR ACCESSING, USING OR INSTALLING ANY PART OF THE SERVICE, YOU EXPRESSLY AGREE TO AND CONSENT TO BE BOUND BY ALL OF THE TERMS OF THIS AGREEMENT.  IF YOU ARE A CORPORATION, PARTNERSHIP, LIMITED LIABILITY COMPANY OR OTHER ENTITY, THEN THE PERSON SIGNING THIS AGREEMENT ON THE ENTITY’S BEHALF REPRESENTS THAT HE OR SHE IS AUTHORIZED TO SIGN FOR AND BIND THE ENTITY.  IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, THE BUTTON INDICATING NON-ACCEPTANCE MUST BE SELECTED, IP COMMERCE WILL PROMPTLY CANCEL THIS TRANSACTION AND YOU MAY NOT ACCESS OR USE OR INSTALL ANY PART OF THE SERVICE.
  %br
  %h5 DESCRIPTION OF TRANACT SCRAP YARD DOG SERVICE, EXCLUSIONS & RESPONSIBILITIES

  %p 1.1 General Description of the SCRAP YARD DOG Service. TRANACT provides a data transportation service to select accounting packages (such as Intuit’s QuickBooks® product) (generically, the “Accounting Product”) as a hosted solution (“SCRAP YARD DOG” or “Service”). The SCRAP YARD DOG Service collects YOUR transaction data and delivers that data to YOUR Accounting Product instance so that it can be used to populate YOUR accounting ledgers.  

  %p (Note: Intuit ® and QuickBooks® are registered trademarks of Intuit, Inc. used under license.)

  %p 1.2 Support.  TRANACT  will provide support to YOU for current versions of the Service through online and phone support available at Tranact.com.  TRANACT will investigate YOUR questions and problems promptly.  YOU agree to provide adequate information and access to TRANACT in order to assist in the investigation and to confirm that any problems have been resolved.  TRANACT support is available Monday through Friday 9am to 5pm EST and also maintains after hours support. TRANACT does not provide guaranteed response time, but will make good faith effort to answer emails and voicemails within twenty-four (24) hours or less during weekdays, excluding holidays. 

  %p 1.3 Exclusions and Limitations. YOU acknowledge that access to and use of the Service is dependent upon the availability and proper functioning of other third party products or services – including YOUR Accounting Product instance and internet connection.  TRANACT has no control over these third party products or services.  TRANACT disclaims responsibility and liability for any inability to access or use the Service, or degradation of the performance of the Service, to the extent caused by issues, problems, or malfunctions of, or inaccessibility to, these third party products or services.  You are solely responsible for the configuration of your instances of these third party products or services.

  %p TRANACT has no ability to regulate the accuracy of data provided by YOU in YOUR use of the SCRAP YARD DOG Service.

  %p TRANACT will have the right to terminate this Agreement upon reasonable written notice to YOU should, for any reason, the providers of YOUR Accounting Product materially modify or terminate TRANACT’s  access to their products.

  %p TRANACT offers YOU access to the SCRAP YARD DOG software through the Internet, which is not owned, operated, managed by or in any way affiliated with TRANACT.  YOUR use of the Internet is solely at YOUR own risk and is subject to all applicable local, state, national and international laws and regulations.  Access to the Internet is dependent on numerous factors, technologies and systems, many of which are beyond TRANACT’s authority and control.

  %p All hosted systems will be owned or leased by TRANACT and will remain under the control of TRANACT during the Term of this Agreement

  %h5 YOUR Responsibilities

  %p YOU will be responsible for providing, maintaining and ensuring compatibility with the Service, all hardware, software, and other physical requirements for YOUR use of the Service, including, without limitation, telecommunications and Internet access connections and links, web browsers of other equipment, programs and services required to access and use the Service.

  %p YOU will not access or use the SCRAP YARD DOG Service in a way, intended or unintended, to avoid incurring fees or to exceed usage limits or that will cause, in TRANACT’s sole discretion, inordinate burden on the SCRAP YARD DOG Service or TRANACT’s system resources or capacity.

  %p YOU bear all responsibility for the confidentiality or YOUR passwords.  YOU will not share passwords or other access information or devices or otherwise authorize any third party, to access or use the SCRAP YARD DOG Service.  YOU will be solely responsible for all activities in connection with the Service that occur under YOUR username(s) and password(s).  

  %p YOU will be solely responsible for the security, confidentiality and integrity of all messages and content that you transmit through the Service.  You will be solely responsible for any authorized or unauthorized access to YOUR account by any person.

  %p YOU agree not to disseminate, store or transmit any viruses, Trojan horses or any other malicious code or program.

  %p YOU agree not to export, re-export or permit downloading of any message or content in violation of any export or import law, regulation or restriction of the United States and its agencies or authorities, or without all required approvals, licenses or exemptions.

  %p YOU agree not to engage in any other activity deemed by TRANACT to be in conflict with the spirit or intent of this Agreement. 

  %p YOU will obtain, at YOUR own expense, all rights necessary to use third party products and YOU acknowledge that TRANACT is not the licensor or sub-licensor of any third party products.  

  %h5 2. RIGHTS GRANTED

  %p 2.1 Right to Use the Services. TRANACT will provide the Service in accordance with the terms of this Agreement. For the duration of the Service term YOU will have the non-exclusive, non-assignable, royalty free, worldwide limited right to use the Services solely for YOUR internal business operations and subject to the terms of this Agreement.  The Services may not be resold to a third party.  Subject to the terms of this Agreement, YOU may access and use the Service on a trial basis and free of charge for a period not to exceed thirty (30) calendar days (“Trial Period”).  YOUR access to the Service will automatically terminate following such Trial Period, unless YOU pay all applicable fees in accordance with this Agreement.

  %p 2.2 No Software Delivery Obligation. TRANACT  has no software delivery obligation and will not ship copies of any of the TRANACT Programs used to provide the Services to YOU as part of the Services.  Upon the end of the Service Order, YOUR right to access or use the TRANACT Programs specified in this Agreement and the Services will terminate.

  %h5 3. FEES AND PAYMENT

  %p Annual Subscription. If YOU subscribe to the Service on an annual subscription basis, YOU must pay the annual fee in advance to access and use the Service. Fees are described in the applicable Service listing on the third party service from which YOU accessed the Service, or on TRANACT’s website. YOU will be invoiced annually, either by TRANACT directly and YOU will not be given access to the Service until YOU have paid the applicable fees. The first annual fee will start to accrue as of the first day immediately following the Trial Period. The fees do not include any taxes or duties of any kind, which may be imposed by any governmental entity on the transactions contemplated by this Agreement, and YOU will be solely responsible for all such taxes, other than taxes based solely on TRANACT’s income. All amounts are quoted in and must be paid in US dollars. TRANACT reserves the right to suspend YOUR access to and use of the Service if YOU fail to pay any undisputed amount owed on or before its due date.

  %p Monthly Subscription. If YOU subscribe to the Service on a monthly subscription basis, YOU must pay the monthly fee in advance to access and use the Service. Fees are described on TRANACT’s website. YOU will be charged monthly by TRANACT directly and YOU will not be given access to the Service until YOU have paid the applicable fees. The first monthly fee will start to accrue as of the first day immediately following the Trial Period. The fees do not include any taxes or duties of any kind, which may be imposed by any governmental entity on the transactions contemplated by this Agreement, and YOU will be solely responsible for all such taxes, other than taxes based solely on TRANACT’s income. All amounts are quoted in and must be paid in US dollars. TRANACT reserves the right to suspend YOUR access to and use of the Service if YOU fail to pay any undisputed amount owed on or before its due date.

  %h5 4. OWNERSHIP AND RESTRICTIONS

  %p 4.1 Reservation. TRANACT or its licensors retain all ownership and intellectual property rights to the Services and the TRANACT Programs and know-how. TRANACT transfers no ownership or intellectual property interest or title to YOU. No licenses will be deemed to have been granted to the TRANACT Programs or TRANACT’s intellectual property rights, except as stated in Section 4.2 of this Agreement. YOU retain all ownership and intellectual property rights in and to YOUR data, provided that TRANACT may compile statistical information related to the data and performance of the Services, and may make such information publicly available, so long as TRANACT does not disclose YOUR confidential information.   

  %p 4.2 Feedback.  TRANACT welcomes YOUR feedback and suggestions about the Service.  By transmitting any suggestions, information, material or other content (collectively “Feedback”) to TRANACT, YOU represent that such Feedback does not infringe or violate the intellectual property of any third party and YOU grant TRANACT the right to use such Feedback, royalty free without additional approval or consideration.

  %p 4.3 Prohibitions. No part of the Services may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means, except as expressly provided in this Agreement. YOU agree to make every reasonable effort to prevent unauthorized third parties from accessing the Service.

  %h5 5. DISCLAIMER OF WARRANTIES  

  %p The TRANACT Programs comprise complex and extensive computer instructions and code. While TRANACT endeavors to provide reliable information and services, the Service is provided on an “as is” and “as available” basis, and may include errors, omissions or other inaccuracies. TRANACT makes no representations or warranties about the results that can be achieved from or the suitability, completeness, reliability or accuracy of the Services for any purpose and expressly disclaims all warranties, express or implied, including, without limitation, any warranty of merchantability or fitness for a particular purpose, or non-infringement or any other implied warranty. TRANACT does not guarantee that the Services will be performed error-free or uninterrupted or that TRANACT will correct all Service errors.  YOU acknowledge that TRANACT does not control the transfer of data over communications facilities, including the Internet, and that the Service may be subject to limitations, delays and other problems inherent in the use of such communications facilities.  TRANACT is not responsible for any delays, delivery failures or other damage resulting from such problems. 

  %p To the extent not prohibited by law, TRANACT disclaims any warranties of merchantability, fitness for any particular purpose and non-infringement relating to anything provided under this Agreement.

  %h5 6. LIMITATION OF LIABILITY

  %p In no event will TRANACT be liable for the following types of loss:  loss of profits or revenue, loss of business or goodwill, or business interruption, or any indirect, special, or consequential damages arising out of this Agreement, whether based in contract, tort, or any other theory. In no event will TRANACT’s aggregate liability for direct damages exceed or the actual fees paid by YOU to TRANACT under this Agreement during the six (6) month period prior to any incident under which or in relation to which the liability arises.  Some states prohibit the exclusion or limitation of incidental or consequential damages, thus this limitation of liability may not apply to YOU.  If you are dissatisfied with the Service, YOUR sole and exclusive remedy will be to discontinue use of the Service and terminate this Agreement in accordance with Section 8.

  %h5 7. INDEMNIFICATION

  %p YOU agree to indemnify, defend and hold harmless TRANACT, its officers, directors, employees, shareholders and agents from and against all actions, claim, damage or liability, including reasonable costs and attorney’s fees, asserted by any third party in connection with, or based upon YOUR use of the Service.

  %h5 8. TERM & TERMINATION

  %p This Agreement takes effect the moment YOU click “I ACCEPT” as set forth below and will continue until terminated.  This Agreement will terminate automatically and you will not be granted access to the Service if YOU click “I REJECT.” 

  %p If YOU subscribe to the Service on an annual basis, the initial term of this Agreement will be one (1) year from the date YOU first access the Service after the Trial Period.  Annual subscriptions will automatically renew for additional successive one (1) year terms at the then-current list price, unless terminated by YOU or TRANACT,  as described below.  If YOU subscribe to the Service on a monthly basis, the initial term of this Agreement will be the number of days remaining in the current month from the date of the subscription.  Monthly subscriptions will automatically renew every month for additional successive one (1) month terms at the then-current list price, unless terminated by YOU or TRANACT as described below.

  %p YOU or TRANACT may terminate this Agreement for any reason upon sixty (60) days’ prior written notice.  TRANACT also reserves the right at any time, for any reason, to (a) remove or disable access to all or any portion of the Service; (b) suspend YOUR access to or use of all or any portion of the Service; and (c) immediately terminate this Agreement if you have not complied with the terms of this Agreement.   Upon termination of this Agreement for any reason, YOUR rights to use the Service will immediately terminate and YOU must immediately discontinue any use of the Service and destroy all copies of any aspect of the Service in YOUR possession. Termination will not relieve YOU of the obligation to pay any fees accrued or payable to TRANACT prior to the effective date of termination.

  %p Pre-paid subscription fees are non-refundable if YOU terminate this Agreement for convenience TRANACT terminates this Agreement because YOU failed to comply with its terms.

  %p The provisions concerning TRANACT’s proprietary rights, feedback, indemnity, disclaimers of warranty, limitations of liability and governing law will survive the termination of this Agreement for any reason.

  %h5 9. CONFIDENTIALITY 

  %p Each party agrees to safeguard the Confidential Information of the other party using the same measures it uses to protect its own confidential information, but in no event less than reasonable care. “Confidential Information” means information disclosed by either party to the other, whether orally, electronically or in writing, which is designated as confidential or would reasonably be considered to be confidential under the circumstances by a reasonable person. TRANACT’s “Confidential Information” will include, but not be limited to, documentation, technology and technical information, product designs and business processes. Each party agrees to use Confidential Information solely to perform obligations and exercise rights under this Agreement and not to disclose, or permit to be disclosed, either directly or indirectly, Confidential Information to any third party without the other’s prior written consent. Notwithstanding the foregoing, neither party bears responsibility for safeguarding information that is publicly available without breach of an obligation owed to the disclosing party hereunder, obtained from third parties not under confidentiality restrictions, independently developed or known to the recipient without breach of an obligation owed to the disclosing party, or required to be disclosed by order of court or other governmental entity. If either party breaches, or threatens to breach the provisions of this Section 9, each party agrees that the non-breaching party will have no adequate remedy at law and is therefore entitled to immediate injunctive and other equitable relief.

  %h5 10. GOVERNING LAW

  %p This Agreement, and any and all claims arising under this Agreement, will be governed by the laws of the state of FLORIDA, USA.  YOU and TRANACT consent to the exclusive jurisdiction of the federal and state courts located in St. Petersburg, FL.  YOU also agree to waive any right to a jury trial in connection with any action or litigation in any way arising out of or related to this Agreement.  Any claim you might have against TRANACT must be brought within one (1) years after the cause of action arises, or such claim or cause of action is barred.

  %h5 11. MISCELLANEOUS

  %p This Agreement is personal to YOU and YOU may not assign YOUR rights or obligations to any other person or entity without TRANACT’s prior written consent. No joint venture, partnership, employment or agency relationship exists between YOU and TRANACT as a result of this Agreement or YOUR utilization of the Service.  This Agreement representS the entire agreement between YOU and TRANACT with respect to the Service and it supersedes all prior to contemporaneous communications and proposals between YOU and TRANACT with respect to the Service.