= render partial: "shared/navbars/accounts_payables_navbar", locals: {title: "Accounts Payables"}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %p
      = form_tag accounts_payables_path, id: 'accounts_payable_search_form', method: 'get', :class => "form-inline", role: 'search' do |f|
        .input-group
          = search_field_tag :q, params[:q], :placeholder => "Ticket number", class: "form-control input-lg"
          %span.input-group-btn
            %button.btn.btn-default.btn-lg{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
              %i.fa.fa-search
    - unless @accounts_payables.blank?
      - @accounts_payables.each do |accounts_payable|
        %div.row
          .col-xs-12.col-sm-12.col-md-12
            %div.panel.panel-primary
              %div.list_group
                %a{href: accounts_payable_path(accounts_payable['Id'], ticket_id: accounts_payable['TicketHeadId']), class: "list-group-item accounts_payable_button"}
                  .pull-right
                    &nbsp;
                    %i.fa.fa-chevron-right.fa-lg
                  = accounts_payable['Id']
    - else
      %p No accounts payables found            
    
=# render partial: "shared/footer_navbar", locals: {title: "Customers"}