= render partial: "shared/navbars/new_and_edit_event_code_navbar", locals: {title: "Event Code"}
- @title="New event code"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    = render 'form'
