%div.row
  .col-xs-12.col-sm-12.col-md-12
    %div.panel.panel-primary
      %div.list-group-item
        .pull-right
          %a{href: remove_pack_pack_list_path(@pack_list_id, pack_id: @pack_id, pack_shipment_id: @pack_shipment_id), "data-pack-list-id" => @pack_list_id, "data-pack-id" => @pack_id, class: "remove_pack pack_shipment_button"}
            %i.fa.fa-trash.fa-lg.text-danger
          -#
            %a{href: '#', class: "pack_shipment_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
              %i.fa.fa-trash.fa-lg.text-danger
        = @pack_tag_number
        = @pack_description
        %small
          .text-muted.net_weight= "#{@pack_net_weight}"