= render partial: "shared/navbars/commodities_navbar", locals: {title: "Commodities"}

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    - @commodities.each do |commodity|
      %div.row
        .col-xs-12.col-sm-12.col-md-12
          %div.panel.panel-primary
            %div.list_group
              %a{href: commodity_path(commodity['Id'], yard_id: current_yard_id), class: "list-group-item item_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> #{commodity['MenuText']}"}}
                = commodity['MenuText']
                .pull-right
                  %i.fa.fa-chevron-right.fa-lg
                
= render partial: "shared/footer_navbar", locals: {title: "Commodities"}