/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= stub twbs-variables
 *= require twbs
 *= require bootstrap-editable.css
 *= require bootstrap-datepicker3
 *= require checkbox-x.min.css
 *= jquery.fileupload.css
 *= jquery.fileupload-ui.css
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome
*= require morris
 *= require_tree .
 *= require_self
 */

body { padding-top: 30px; }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.select2-container .select2-search__field {
  height: 44px; 
}

/* Start Weather Icons */
@font-face {
    font-family: 'weather';
    src:url('artill_weather_icons_02/artill_clean_icons.otf');
/*    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

#weather {
  /*width: 500px;*/
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

.weather-icon {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
/* End Weather Icons */

/* Start Barcode Scanner */
/*#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
  display: none;
}*/

#pack-barcode-scanner canvas, #pack-barcode-scanner video {
  width: 100%;
  height: auto;
}

#pack-qrcode-scanner canvas, #pack-qrcode-scanner video {
  width: 100%;
  height: auto;
}

.vin_barcode_scanner canvas, .vin_barcode_scanner video {
  width: 100%;
  height: auto;
}



/*.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}*/

canvas.drawing, canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}
/* End Barcode Scanner */

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
}

#reportViewer1 {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;

  font-family: 'segoe ui', 'ms sans serif';

  overflow: hidden;
}

/* Start Google Maps Snap to Road */
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#bar {
  width: 240px;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 8px;
  padding: 4px;
  border-radius: 4px;
}

#autoc {
  width: 100%;
  box-sizing: border-box;
}
/* End Google Maps Snap to Road */

.sortable-current {
/*  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: right center;*/
/*  background-color: #C0C0C0;*/
  /*text-decoration:underline;*/
  /*color: #B7410E;*/
  border-bottom: 3px solid #B7410E;
}