// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
