.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          = link_to root_path do
            Home
        .col-xs-4.col-sm-4
          = title
        .col-xs-4.col-sm-4
          %a{href: new_commodity_path, class: 'commodity_button', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i>"}}
            - unless mobile_device?
              %i.fa.fa-plus.fa-lg
              = "New" 
            - else
              .pull-right 
                %i.fa.fa-plus.fa-lg