.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          = link_to 'javascript:history.back()' do
            Cancel
        .col-xs-4.col-sm-4
          - if @ticket['Status'] == '2' or @ticket['Status'].blank?
            %i.fa.fa-folder-open-o.fa-lg
          - elsif @ticket['Status'] == '1'
            %i.fa.fa-folder.fa-lg
          - elsif @ticket['Status'] == '3'
            %i.fa.fa-dollar
          = title
        .col-xs-4.col-sm-4
          - unless total.blank?
            #total= total