.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %a{href: items_path}
            %i.fa.fa-close
          =# link_to "Cancel", items_path
          -#
            = link_to 'javascript:history.back()' do
              %i.fa.fa-arrow-left.fa-lg
        .col-xs-4.col-sm-4
          = title
        .col-xs-4.col-sm-4
          -#
            = image_tag("ajax-loader-gray-background.gif", :id => "spinner", :alt => "Loading ...", style: "display:none;")
            = link_to 'Done', '#', onclick: "$(this).hide(); $('#spinner').show(); $('#purchase_order_form').submit();"
