.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %a{href: company_path(current_company_id)}
            %i.fa.fa-close
          =# link_to "Cancel", contracts_path
        .col-xs-4.col-sm-4
          = title
        .col-xs-4.col-sm-4