.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only= t('.toggle_navigation')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -#
        %a{class: 'navbar-brand', :href => root_path}
          = image_tag('syd_logo_20x37.png')
      %a.navbar-brand{:href => root_path, :rel => "home", :title => "Scrap Yard Dog"}
        %i.fa.fa-recycle
        Scrap Yard Dog
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: 'https://tranact.com/', target: '_blank'} 
            %strong ABOUT
        %li
          %a{href: 'https://tranact.com/scrapyarddog/', target: '_blank'} 
            %strong HOW IT WORKS
        %li
          %a{href: "https://sandbox.qbo.intuit.com/app/homepage", target: '_blank'}
            %strong QUICKBOOKS
      %ul.nav.navbar-nav.navbar-right
        &nbsp;
        %li
          %a{href: new_user_session_path}
            %strong
              %i.fa.fa-lock
              LOG IN
        -#
          %li
            %a{href: new_user_registration_path}
              %i.fa.fa-lock
              SIGN UP