.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-12.col-sm-12
          = title
        -#
          .col-xs-4.col-sm-4
            %a{href: edit_company_path(@company.id)}
              Edit