.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          = link_to 'javascript:history.back()' do
            Back
        .col-xs-4.col-sm-4
          = title
        .col-xs-4.col-sm-4
          - unless current_user.customer?
            %a{href: edit_ticket_path(@ticket['Id'], status: @ticket['Status'], yard_id: @ticket['YardId'])}
              = "Edit"