.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          -#
            = link_to 'javascript:history.back()' do
              %i.fa.fa-arrow-left.fa-lg
        .col-xs-4.col-sm-4
          = title
        .col-xs-4.col-sm-4
          %a{href: edit_purchase_order_path(purchase_order_id)}
            -#
              %i.fa.fa-edit.fa-lg
            = "Edit" unless mobile_device?
