.navbar.navbar-default.navbar-fixed-top{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          -#
            = link_to 'javascript:history.back()' do
              Back
          = link_to root_path do
            Home
        .col-xs-4.col-sm-4
          -#
            - if params[:status] == '2' or params[:status].blank?
              %i.fa.fa-folder-open-o.fa-lg
            - elsif params[:status] == '1'
              %i.fa.fa-folder.fa-lg
            - elsif params[:status] == '3'
              %i.fa.fa-dollar
          = title
        .col-xs-4.col-sm-4
          - unless current_user.customer?
            %a{href: customers_path, class: 'ticket_button', data: {disable_with: "<i class='fa fa-spinner fa-spin fa-lg'></i>"}}
              %i.fa.fa-ticket.fa-lg
              = "Ticket" unless mobile_device?