- @title="Telerik Reports"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    #reportViewer1.k-widget
      loading...


:javascript
  $("#reportViewer1")
    .telerik_ReportViewer({
        //serviceUrl: "https://50.192.53.46:50003/api/reports",
        serviceUrl: "https://sddev.scrapdragon.com:50003/api/reports",
        //templateUrl: /ReportViewer/templates/telerikReportViewerTemplate-FA-x.x.x.x.html
        reportSource: { 
            //report: "Adam Test.trdx",
            report: "AdamTest",
            parameters: {
                CultureID: "en"
            }
        }
    });
