- @title="Telerik Reports"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    %br
    %br
    %br
    %br
    #reportViewer1.k-widget
      loading...


:javascript
  $("#reportViewer1")
    .telerik_ReportViewer({
        serviceUrl: "https://sddev.scrapdragon.com:50003/api/reports",
        reportSource: { 
            report: "Adams Test.trdx"
        }
    });

-#
  :javascript
    $("#reportViewer1")
      .telerik_ReportViewer({
          serviceUrl: "https://sddev.scrapdragon.com:50003/api/reports",
          reportSource: { 
              report: "Adams Test.trdx",
              parameterValues: {
                Yard:  null,
                CurrentYardId: "1612C2EA-4891-4F5A-84F6-B8C5F73CEB7C",
                CurrentYardName: "Main Yard",
                CurrentYardAddress: "4470 Chamblee Dunwoody Rd",
                CurrentYardCity:  "Dunwoody",
                CurrentYardState: "GA",
                CurrentYardZip: "30338"
              }
          }
      });