- @title="Telerik Reports"

.jumbotron{style: 'background-color: #FFFFFF;'}
  .container
    #reportViewer1.k-widget
      loading...


:javascript
  $("#reportViewer1")
    .telerik_ReportViewer({
        serviceUrl: "https://sddev.scrapdragon.com:50003/api/reports",
        reportSource: { 
            report: "Adams Test.trdx",
            parameterValues: {
                "currentYardId": "#{current_yard_id}"
            }
        }
    });
